In [1]:
import numpy as np
import pandas as pd

In [2]:
books = pd.read_csv('data/Books.csv')
users = pd.read_csv('data/Users.csv')
ratings = pd.read_csv('data/Ratings.csv')

/tmp/ipykernel_9506/927319382.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('data/Books.csv')

In [3]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [4]:
users.head(2)

   User-ID                   Location   Age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [5]:
ratings.head(2)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [6]:
print('books shape',books.shape)
print('ratings shape',ratings.shape)
print('users shape',users.shape)

books shape (271360, 8)
ratings shape (1149780, 3)
users shape (278858, 3)

In [7]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [8]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [9]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [10]:
books.rename(columns={'Book-Title':'title','Book-Author':'author','Year-Of-Publication':'year','Publisher':'publisher'},inplace = True)

In [11]:
books = books[['ISBN','title','author','year','publisher','Image-URL-M']]
books

,ISBN,title,author,year,publisher,Image-URL-M
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...

In [12]:
books['title'] = books['title'].str.replace("\\","")
books['title'] = books['title'].str.replace('"','')

/tmp/ipykernel_9506/359827544.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  books['title'] = books['title'].str.replace("\\","")

In [13]:
users.rename(columns={'User-ID':'user_id','Location':'location','Age':'age'},inplace = True)
users

        user_id                            location   age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [14]:
ratings.rename(columns={'User-ID':'user_id','Book-Rating':'rating'},inplace=True)
ratings

         user_id         ISBN  rating
0         276725   034545104X       0
1         276726   0155061224       5
2         276727   0446520802       0
3         276729   052165615X       3
4         276729   0521795028       6
...          ...          ...     ...
1149775   276704   1563526298       9
1149776   276706   0679447156       0
1149777   276709   0515107662      10
1149778   276721   0590442449      10
1149779   276723  05162443314       8

[1149780 rows x 3 columns]

In [15]:
ratings.groupby('ISBN')['user_id'].count().sort_values(ascending=False)

ISBN
0971880107    2502
0316666343    1295
0385504209     883
0060928336     732
0312195516     723
              ...
0801064090       1
0801064252       1
0801064279       1
0801064333       1
Ô½crosoft        1
Name: user_id, Length: 340556, dtype: int64

In [16]:
popular_df = ratings.groupby('ISBN').agg({'user_id':'count','rating':'mean'}).sort_values(ascending=False,by='user_id')
popular_df.rename(columns={'user_id':'num_ratings','rating':'avg_rating'},inplace=True)

In [17]:
popular_df

            num_ratings  avg_rating
ISBN
0971880107         2502    1.019584
0316666343         1295    4.468726
0385504209          883    4.652322
0060928336          732    3.448087
0312195516          723    4.334716
...                 ...         ...
0801064090            1    0.000000
0801064252            1    5.000000
0801064279            1    0.000000
0801064333            1    0.000000
Ô½crosoft             1    7.000000

[340556 rows x 2 columns]

In [18]:
### fetch url for popular_df from `books.csv`

popular_df = popular_df.merge(books,on ='ISBN')

In [19]:
popular_df

,ISBN,num_ratings,avg_rating,title,author,year,publisher,Image-URL-M
0,0971880107,2502,1.019584,Wild Animus,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...
1,0316666343,1295,4.468726,The Lovely Bones: A Novel,Alice Sebold,2002,"Little, Brown",http://images.amazon.com/images/P/0316666343.0...
2,0385504209,883,4.652322,The Da Vinci Code,Dan Brown,2003,Doubleday,http://images.amazon.com/images/P/0385504209.0...
3,0060928336,732,3.448087,Divine Secrets of the Ya-Ya Sisterhood: A Novel,Rebecca Wells,1997,Perennial,http://images.amazon.com/images/P/0060928336.0...
4,0312195516,723,4.334716,The Red Tent (Bestselling Backlist),Anita Diamant,1998,Picador USA,http://images.amazon.com/images/P/0312195516.0...
...,...,...,...,...,...,...,...,...
270146,0801064031,1,10.000000,Time for Truth: Living Free in a World of Lies...,OS Guinness,2002,Baker Books,http://images.amazon.com/images/P/0801064031.0...
270147,0801064090,1,0.000000,A+ Education: Choosing the Best School Option ...,William Eckenwiler,2002,Baker Books,http://images.amazon.com/images/P/0801064090.0...
270148,0801064252,1,5.000000,Face to Face,Linda Dorrell,2002,Baker Books,http://images.amazon.com/images/P/0801064252.0...
270149,0801064279,1,0.000000,Hoofbeats on the Trail (Ally O'Connor Adventur...,Mark Littleton,2002,Baker Books,http://images.amazon.com/images/P/0801064279.0...
270150,0801064333,1,0.000000,Thank God It's Monday: Celebrating Your Purpos...,Kim Hackney,2003,Baker Books,http://images.amazon.com/images/P/0801064333.0...

In [20]:
popular_df[:5000]

,ISBN,num_ratings,avg_rating,title,author,year,publisher,Image-URL-M
0,0971880107,2502,1.019584,Wild Animus,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...
1,0316666343,1295,4.468726,The Lovely Bones: A Novel,Alice Sebold,2002,"Little, Brown",http://images.amazon.com/images/P/0316666343.0...
2,0385504209,883,4.652322,The Da Vinci Code,Dan Brown,2003,Doubleday,http://images.amazon.com/images/P/0385504209.0...
3,0060928336,732,3.448087,Divine Secrets of the Ya-Ya Sisterhood: A Novel,Rebecca Wells,1997,Perennial,http://images.amazon.com/images/P/0060928336.0...
4,0312195516,723,4.334716,The Red Tent (Bestselling Backlist),Anita Diamant,1998,Picador USA,http://images.amazon.com/images/P/0312195516.0...
...,...,...,...,...,...,...,...,...
4995,0553572423,26,2.653846,The Fist of God,Frederick Forsyth,1995,Bantam Books,http://images.amazon.com/images/P/0553572423.0...
4996,039914868X,26,4.115385,The Short Forever,Stuart Woods,2002,Putnam Adult,http://images.amazon.com/images/P/039914868X.0...
4997,0671663984,26,3.192308,SEVEN HABITS OF HIGHLY EFFECTIVE PEOPLE : Powe...,Stephen R. Covey,1989,Free Press,http://images.amazon.com/images/P/0671663984.0...
4998,0688180639,26,2.615385,Vinegar Hill (Oprah's Book Club (Hardcover)),A. Manette Ansay,1999,HarperCollins,http://images.amazon.com/images/P/0688180639.0...
4999,0385333404,26,0.807692,Dating Big Bird,Laura Zigman,2000,Dial Books,http://images.amazon.com/images/P/0385333404.0...

In [21]:
popular_df[0:4000][popular_df[0:4000]['avg_rating']>4]

,ISBN,num_ratings,avg_rating,title,author,year,publisher,Image-URL-M
1,0316666343,1295,4.468726,The Lovely Bones: A Novel,Alice Sebold,2002,"Little, Brown",http://images.amazon.com/images/P/0316666343.0...
2,0385504209,883,4.652322,The Da Vinci Code,Dan Brown,2003,Doubleday,http://images.amazon.com/images/P/0385504209.0...
4,0312195516,723,4.334716,The Red Tent (Bestselling Backlist),Anita Diamant,1998,Picador USA,http://images.amazon.com/images/P/0312195516.0...
6,0142001740,615,4.219512,The Secret Life of Bees,Sue Monk Kidd,2003,Penguin Books,http://images.amazon.com/images/P/0142001740.0...
9,0446672211,585,4.105983,Where the Heart Is (Oprah's Book Club (Paperba...,Billie Letts,1998,Warner Books,http://images.amazon.com/images/P/0446672211.0...
...,...,...,...,...,...,...,...,...
3975,0836217241,31,4.806452,The Far Side Gallery 4,Gary Larson,1993,Andrews McMeel Publishing,http://images.amazon.com/images/P/0836217241.0...
3977,0399149821,31,4.806452,Dirty Work,Stuart Woods,2003,Putnam Publishing Group,http://images.amazon.com/images/P/0399149821.0...
3982,0446692298,31,4.387097,Fat Girls and Lawn Chairs,Cheryl Peck,2004,Warner Books,http://images.amazon.com/images/P/0446692298.0...
3991,8408043641,31,5.096774,La Sombra Del Viento/The Shadow Of The Wind,Carlos Ruiz Zafon,2003,Planeta Pub Corp,http://images.amazon.com/images/P/8408043641.0...
3994,0380978407,31,5.225806,"Lamb: The Gospel According to Biff, Christ's C...",Christopher Moore,2002,William Morrow &amp; Company,http://images.amazon.com/images/P/0380978407.0...

In [22]:
popular_books = popular_df[0:4000][popular_df[0:4000]['avg_rating']>4]
popular_books

,ISBN,num_ratings,avg_rating,title,author,year,publisher,Image-URL-M
1,0316666343,1295,4.468726,The Lovely Bones: A Novel,Alice Sebold,2002,"Little, Brown",http://images.amazon.com/images/P/0316666343.0...
2,0385504209,883,4.652322,The Da Vinci Code,Dan Brown,2003,Doubleday,http://images.amazon.com/images/P/0385504209.0...
4,0312195516,723,4.334716,The Red Tent (Bestselling Backlist),Anita Diamant,1998,Picador USA,http://images.amazon.com/images/P/0312195516.0...
6,0142001740,615,4.219512,The Secret Life of Bees,Sue Monk Kidd,2003,Penguin Books,http://images.amazon.com/images/P/0142001740.0...
9,0446672211,585,4.105983,Where the Heart Is (Oprah's Book Club (Paperba...,Billie Letts,1998,Warner Books,http://images.amazon.com/images/P/0446672211.0...
...,...,...,...,...,...,...,...,...
3975,0836217241,31,4.806452,The Far Side Gallery 4,Gary Larson,1993,Andrews McMeel Publishing,http://images.amazon.com/images/P/0836217241.0...
3977,0399149821,31,4.806452,Dirty Work,Stuart Woods,2003,Putnam Publishing Group,http://images.amazon.com/images/P/0399149821.0...
3982,0446692298,31,4.387097,Fat Girls and Lawn Chairs,Cheryl Peck,2004,Warner Books,http://images.amazon.com/images/P/0446692298.0...
3991,8408043641,31,5.096774,La Sombra Del Viento/The Shadow Of The Wind,Carlos Ruiz Zafon,2003,Planeta Pub Corp,http://images.amazon.com/images/P/8408043641.0...
3994,0380978407,31,5.225806,"Lamb: The Gospel According to Biff, Christ's C...",Christopher Moore,2002,William Morrow &amp; Company,http://images.amazon.com/images/P/0380978407.0...

In [23]:
popular_books = popular_books.reset_index(drop=True)

### set the min `number of ratings` by an user is 200

In [24]:
ratings['user_id'].value_counts().shape

(105283,)

In [25]:
ratings['user_id'].value_counts()[ratings['user_id'].value_counts()>200]

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
274808      201
28634       201
59727       201
268622      201
188951      201
Name: user_id, Length: 899, dtype: int64

In [26]:
x = ratings['user_id'].value_counts()
y = x[x>200]
y

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
274808      201
28634       201
59727       201
268622      201
188951      201
Name: user_id, Length: 899, dtype: int64

In [27]:
y.index

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
            260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727,
            268622, 188951],
           dtype='int64', length=899)

In [28]:
ratings = ratings[ratings['user_id'].isin(y.index)]
ratings

         user_id        ISBN  rating
1456      277427  002542730X      10
1457      277427  0026217457       0
1458      277427  003008685X       8
1459      277427  0030615321       0
1460      277427  0060002050       0
...          ...         ...     ...
1147612   275970  3829021860       0
1147613   275970  4770019572       0
1147614   275970   896086097       0
1147615   275970  9626340762       8
1147616   275970  9626344990       0

[526356 rows x 3 columns]

In [29]:
ratings_with_books= ratings.merge(books,on='ISBN')
ratings_with_books

,user_id,ISBN,rating,title,author,year,publisher,Image-URL-M
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
...,...,...,...,...,...,...,...,...
487666,275970,1892145022,0,Here Is New York,E. B. White,1999,Little Bookroom,http://images.amazon.com/images/P/1892145022.0...
487667,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA),http://images.amazon.com/images/P/1931868123.0...
487668,275970,3411086211,10,Die Biene.,Sybil GrÃ?Â¤fin SchÃ?Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim",http://images.amazon.com/images/P/3411086211.0...
487669,275970,3829021860,0,The Penis Book,Joseph Cohen,1999,Konemann,http://images.amazon.com/images/P/3829021860.0...
487670,275970,4770019572,0,Musashi,Eiji Yoshikawa,1995,Kodansha International (JPN),http://images.amazon.com/images/P/4770019572.0...

In [30]:
ratings_with_books['title'].nunique()

160262

In [31]:
ratings_with_books['ISBN'].nunique()

178018

In [32]:
no_of_ratings = ratings_with_books.groupby('title')['rating'].count().reset_index()

In [33]:
no_of_ratings.rename(columns={'rating':'num_ratings'},inplace=True)
no_of_ratings

                                                    title  num_ratings
0        A Light in the Storm: The Civil War Diary of ...            2
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Beyond IBM: Leadership Marketing and Finance ...            1
4        Civil Disobedience and Reading (Penguin Class...            1
...                                                   ...          ...
160257  Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...            3
160258                                      Ã?Â?lpiraten.            1
160259                     Ã?Â?rger mit Produkt X. Roman.            1
160260                              Ã?Â?stlich der Berge.            1
160261                                  Ã?Â?thique en toc            1

[160262 rows x 2 columns]

In [34]:
final_ratings = ratings_with_books.merge(no_of_ratings,on='title')
final_ratings

,user_id,ISBN,rating,title,author,year,publisher,Image-URL-M,num_ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
...,...,...,...,...,...,...,...,...,...
487666,275970,1892145022,0,Here Is New York,E. B. White,1999,Little Bookroom,http://images.amazon.com/images/P/1892145022.0...,1
487667,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA),http://images.amazon.com/images/P/1931868123.0...,1
487668,275970,3411086211,10,Die Biene.,Sybil GrÃ?Â¤fin SchÃ?Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim",http://images.amazon.com/images/P/3411086211.0...,1
487669,275970,3829021860,0,The Penis Book,Joseph Cohen,1999,Konemann,http://images.amazon.com/images/P/3829021860.0...,1
487670,275970,4770019572,0,Musashi,Eiji Yoshikawa,1995,Kodansha International (JPN),http://images.amazon.com/images/P/4770019572.0...,1

### `num_ratings` is being set to >=50

In [35]:
final_ratings = final_ratings[final_ratings['num_ratings']>=50]
final_ratings.shape

(61853, 9)

In [36]:
final_ratings.drop_duplicates(['user_id','title'],inplace=True)

/tmp/ipykernel_9506/31105032.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_ratings.drop_duplicates(['user_id','title'],inplace=True)

In [37]:
final_ratings

,user_id,ISBN,rating,title,author,year,publisher,Image-URL-M,num_ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
...,...,...,...,...,...,...,...,...,...
236703,255489,0553579983,7,And Then You Die,Iris Johansen,1998,Bantam,http://images.amazon.com/images/P/0553579983.0...,50
236704,256407,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,http://images.amazon.com/images/P/0553579983.0...,50
236705,257204,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,http://images.amazon.com/images/P/0553579983.0...,50
236706,261829,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,http://images.amazon.com/images/P/0553579983.0...,50
236707,273979,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,http://images.amazon.com/images/P/0553579983.0...,50

In [38]:
#final_ratings['title'] = final_ratings['title'].str.replace("\\","")
#final_ratings['title'] = final_ratings['title'].str.replace('"','')

In [39]:
#book_pivot = final_ratings.pivot(columns='title',index='user_id',values='rating')

In [40]:
book_pivot = final_ratings.pivot(columns='user_id',index='title',values='rating')

In [41]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wuthering Heights,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
book_pivot.fillna(0,inplace=True)

In [43]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wuthering Heights,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### saving the `pivot-table` of `user-book matrix` as `book_pivot`

In [44]:
import os
os.getcwd()

'/home/kousik/ABC_OTHERS/campusx/book-recommender-system/my_book_reco_with_cosine_similarity/notebooks'

In [45]:
csv_path = os.path.join("../artifacts")
csv_path

'../artifacts'

In [46]:
os.makedirs(csv_path,exist_ok=True)

In [47]:
# saving the `pivot-table` of `user-book` as `book_pivot`

book_pivot.to_csv('../artifacts/book_pivot.csv')

In [48]:
pd.read_csv('../artifacts/book_pivot.csv').set_index('title')

,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wuthering Heights,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [49]:
final_ratings.to_csv('../artifacts/final_ratings.csv',index=False)

In [50]:
popular_books.to_csv('../artifacts/popular_books.csv',index=False)